<!--
  Generated template for the BookPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = "primary">

    <ion-title>book</ion-title>

 
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
       </button>
           <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  
    
  </ion-navbar>

</ion-header>


<ion-content padding>
 <!--<ion-fab right bottom>
    <button ion-fab color="danger" (click)="add()">
      <ion-icon name="person-add"></ion-icon>
    </button>
  </ion-fab>
  <ion-toolbar color="primary">
    <ion-searchbar (ionInput)="search($event)" 
    (ionClear)="getCustomers()" debounce="1000">
    </ion-searchbar>
  </ion-toolbar>
  <ion-list no-lines>
    <button ion-item (click)="showMenu(customer)" 
      *ngFor="let customer of customers">
      <ion-thumbnail item-left>
        <img [src]="customer.image" *ngIf="customer.image">
      </ion-thumbnail>
    <h1>{{ customer.first_name }} {{ customer.last_name }}</h1>
    <p>
      {{ customer.email }}
    </p>
  </button>

  </ion-list>-->

  <ion-item>
   
    <ion-input type="text" [(ngModel)]="name"></ion-input>
  </ion-item>
      <ion-item >
        <ion-input type="text" [(ngModel)]="number" ></ion-input>
        
      </ion-item>
          <ion-item >
        <ion-input type="text" [(ngModel)]="month" ></ion-input>
        
      </ion-item>
          <ion-item >
        <ion-input type="text" [(ngModel)]="year" ></ion-input>
        
      </ion-item>
          <ion-item >
        <ion-input type="text" [(ngModel)]="city" ></ion-input>
        
      </ion-item>
          <ion-item >
        <ion-input type="text" [(ngModel)]="postal" ></ion-input>
        
      </ion-item>
        <ion-item >
        <ion-input type="text" [(ngModel)]="security" ></ion-input>
        
      </ion-item>
  <button ion-button (click)="doLogin()">checkout</button>


  

</ion-content>
